@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

* {
    font-family: sans-serif;
}

.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }


  .modal-container {
    width: auto;
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
  }

  .modal-container-search {
    margin: auto;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    width: auto;
    min-height: 50%;
    background-color: rgb(75, 75, 75);
  }

  .img_block {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media only screen and (max-width : 1000px) {
  .modal-container {
    width: 80%;
  }

  .modal-container-search {
    width: 80%;
  }
}

